* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.flex {
    margin-block: 25px 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.flex_2 {
    margin-inline: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 190px;
    padding: 10px 5px;
}
.important {
    margin-bottom: 15px;
    h4 {
        color: #4200FF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    p {
        color: var(--Grey-AAA, #595959);
        font-family: Inter;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.extra {
    margin-bottom: 15px;
    h4 {
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
button {
    margin-inline: 450px;
    width: 277px;
    height: 59px;
    padding: 20px 12px;
    border-radius: 4px;
    border: 2px solid #4200FF;
    background: #4200FF;
    color: #FFF;
    text-align: center;
    font-size: 14px;
}
.error-field{
    button{
        border: 2px solid red;
        background: red;
    }
    h4{
        color: red;
    }
    p{
        color: red;
    }
    input{
        border: 2px solid red;
    }
}